*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    margin-top: 20px;
}

/* nav section design  */
nav{
    display: flex;
    justify-content: space-around;
}
.nav-left-side{
    display: flex;
}
.nav-left-side h1{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    margin-left: 10px;
}
.travel{
    color: #FF5400;
}
.menu{
    display: flex;
}
.menu li{
    list-style: none;
}
.home{
    color: #FF5400;
}
.list{
    color: #131318;
}
.menu li a {
    text-decoration: none;
    margin-right: 15px;
    
}

/* banner section design  */
.banner-section{
    margin-left: 137px;
    margin-top: 40px;
}
.banner-section img{
    width: 80%;
    height: 500px;
    margin: 0 auto;
    /* opacity: 0.8; */
    position: absolute;
    z-index: -1;
    
}
.banner-section-text{
    text-align: center;
    margin-right: 70px;
    color: #ffffff;
    
}
.banner-section-text h1{
    font-size: 48px;
    font-weight: 800;
    padding-top: 80px;
}
.banner-section-text p {
    width: 70%;
    padding-left: 140px;
    font-size: 16px;
}
.input{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 70%;
    margin-left: 160px;
    padding-bottom: 30px;
    /* margin-top: 50px; */
}
.input > input {
    width: 174px;
    height: 52px;
    padding-left: 10px;
    border-radius:8px ;
    border: none;
}
.btn-primary{
    width: 174px;
    height: 52px;
    padding-left: 10px;
    border-radius:8px ;
    border: none;
    background-color: #FF5400;
    color: #ffffff;
    
}


/* popular tours section */
.popular-tours{
    display: flex;
    margin-bottom: 40px;
    margin-top: 230px;
    width: 79%;
    margin-left: 150px;

}
.popular-tours-right-side{
    border-radius: 16px;
    
}
.popular-tours-right-side img{
    width: 460px;
    height: 450px;
}

.popular-tours-left-side{
    margin-right: 20px;
    
}
.popular-tours-left-side h1{
    font-size: 40px;
    font-weight: 800;
    color: #131318;
}
.popular-tours-left-side p, ul>li{
    color:  rgba(19, 19, 24, 0.70);
    
}
.popular-tours-left-side ul > li{
    margin-left:18px ;
}

/* choose destination section design  */
.choose-section{
    margin-top: 90px;
}
.choose-section h1{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.choose-section p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    
}
.row{
    display: flex;
    margin-left: 110px;
    margin-bottom: 0;
    
}
.row > div {
    margin-right: 20px;
}
#country-name{
    color: #ffffff;
    position: relative;
    bottom: 200px;
}
.bangladesh {
    /* position: relative; */
    left: 180px;
    
}
.Barbanand{
    left: 280px;
    width: 20%;
}
.Srilanka{
    left: 150px;
}
.North-America{
    left: 180px;
}
.Kashmir{
    left: 86px;
    width: 20%;
}
.Maldives{
    left: 240px;
}
.Indonesia{
    left: 240px;
    width: 20%;
}
.choose-us{
    margin-top: 80px;
    margin-bottom: 80px;
}

.choose-us h1{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.choose-us p{
    color:  rgba(19, 19, 24, 0.70);
    text-align: center;
}
.upper-box{
    margin-left: 100px;
    display: flex;
    
}
#box{
    width: 500px;
    padding: 25px;
}
.box1{
    background-color: rgba(251, 181, 99, 0.05);
    border-radius: 8px;
    margin-right: 50px;
}
.box1 h1{
    color: #131318;
    font-size: 24px;
}
.box1 p {
    color:#5A5A5D ;
    text-align:left;
}
.box2{
    background-color: rgba(41, 206, 246, 0.05);
    border-radius: 8px;
}
.box2 h1{
    color: #131318;
    font-size: 24px;
}
.box2 p {
    color:#5A5A5D ;
    text-align:left;
}
.box3{
    background-color: rgba(233, 68, 68, 0.05);
    border-radius: 8px;
    margin-left: 430px;
}
.box3 h1{
    color: #131318;
    font-size: 24px;
}
.box3 p {
    color:#5A5A5D ;
    text-align:left;
}
.newslette-section{
    display: flex;
    margin-left: 120px;
    
}
.newslette-section-left-side{
    border-radius: 16px;
border: 1px solid #FF5400;
width: 474px;
height: 422px;
padding: 30px 0 0 30px;
margin-top: 40px;
}
.newslette-section-left-side h1{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.newslette-section-left-side p{
    color: #5A5A5D;
    font-weight: 400;
    width: 350px;

}
.newslette-section-left-side hr{
    width: 83%;
    color: rgba(19, 19, 24, 0.10);
}
.newslette-section-left-side input{
    width: 375px;
height: 52px;
background-color: rgba(19, 19, 24, 0.05);
border-radius: 8px;
border: none;
padding-left: 20px;
}
#btn{
    width:395px ;
}
.newslette-section-right-side img{
    width: 570px;
height: 460px;
margin-left: 50px;

}
.discount{
    width: 324px;
    height: 120px;
    border-radius: 16px;
background: #FF5400;
text-align: center;
color: #ffffff;
position: relative;
bottom: 192px;
left: 290px;
transform: rotate(-19.628deg);


}
.discount h4{
    padding-top: 10px;
    font-size: 24px;
font-weight: 400;
}

/* footer section design  */
footer{
    background: rgba(19, 19, 24, 0.05);
    
height: 502px;

}
.footer-name{
    display: flex;
    padding: 100px 0 0 530px;
}
.footer-name img{
    margin-right: 20px;
}
footer p{
    text-align: center;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;

}
.social{
    margin-left:620px ;
    margin-top: 30px;
}
.hr {
    width: 70%;
    margin-left: 160px;
    margin-top: 40px;
    background: rgba(19, 19, 24, 0.10);
    margin-bottom: 40px;
}
@media screen and (max-width:600px) {
    .nav-right-side{
        display: none;
        
    }
    nav{
        justify-content: space-between;
        margin-left:50px ;
    }
    .nav-left-side img{
        width: 28.724px;
height: 33.516px;
    }
    .nav-left-side h1{
        font-size: 19px;
    }
    .banner-section{
        margin-left: 50px;
        margin-top: 20px;
    }
    .banner-section img{
        width: 470px;
height: 483px;
        
    }
    .banner-section-text h1{
        font-size: 20px;
        padding-top: 13px;
        width: 100%;
        margin-left: 10px;
    }
    .banner-section-text p {
        width: 78%;
        padding-left: 30px;
        font-size: 12px;
    }
    .input{
        flex-direction: column;
        width: 76%;
        margin-left: 40px;
        
    }
    .input > input {
        width: 254px;
        height: 40px;
    }
    #btn1{
        width: 258px;
        height: 40px; 
    }
    .popular-tours{
        flex-direction: column;
        margin-bottom: 20px;
        margin-top: 80px;
        width: 80%;
        margin-left: 50px;
    }
    
    .popular-tours-right-side{
        border-radius: 16px;
        
    }
    .popular-tours-right-side img{
        width: 470px;
        height: 400px;
    }
    
    
    .popular-tours-left-side h1{
        font-size: 20px;
        
    }
    .popular-tours-left-side p, ul>li{
        font-size: 12px;
        
    }
    .popular-tours-left-side ul > li{
        margin-left:18px ;
    }
    #btn2{
        width: 144px;
height: 45px
    }
    .choose-section{
        margin-top: 50px;
    }
    
.choose-section h1{
    font-size: 20px;
}
.choose-section p{
    font-size: 12px;
    width: 70%; 
    margin-left: 60px;
}
.row{
    flex-direction: column;
    margin-left: 50px;
    
}
#country-name{
    
    bottom: 260px;
}
.bangladesh {
    left: 190px;
    width: 20%;
    
}
.Barbanand{
    left: 190px;
    width: 20%;
}
.Srilanka{
    left: 190px;
    width: 20%;
}
.North-America{
    left: 184px;
    width: 30%;
}
.Kashmir{
    left: 190px;
    width: 20%;
}
.Maldives{
    left: 190px;
    width: 20%;
}
.Indonesia{
    left: 190px;
    width: 20%;
}
.row >div > img{
    width: 470px;
        height: 400px;
}
.choose-us{
    margin-top: 40px;
    margin-bottom: 40px;
}

.choose-us h1{
    font-size: 20px;
    
}
.choose-us p{
    font-size: 12px;
    width: 70%; 
    margin-left: 60px;
}
.upper-box{
    flex-direction: column;
    
}
#box{
    width: 400px;
    padding: 20px;
}
.box1{
    margin-right: 0;
}
.box3{
    margin-left: 100px;
}
.newslette-section{
    flex-direction: column;
    margin-left: 50px;
    
}

.newslette-section-right-side img{
    width: 510px;
height: 340px;
margin-left: 0;

}
.discount{
    width: 224px;
    height: 100px;
   bottom: 155px;
   left: 280px;

}
footer{
    background: rgba(19, 19, 24, 0.05);
    
height: 502px;

}
.footer-name{
    padding: 100px 0 0 130px;
}
.footer p{
    font-size: 12px;

}
.social{
    margin-left:220px ;
    margin-top: 20px;
}
.hr {
    width: 60%;
    margin-left: 120px;
    margin-top: 20px;
    
}
}